.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.login-container, .register-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2, h1, h3 {
  text-align: center;
  color: #32cce7;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #32cce7;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #2de4cb;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea,
button {
  width: 100%;
  padding: 10px;
  border: 1px solid#32cce7;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #32cce7;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2de4cb;
}




